* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("./font/Lato-Regular.ttf");
}

.main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 50px 35px 50px;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.header > a {
  text-decoration: none;
}

.login {
  display: flex;
  align-items: center;
  color: #2abaff;
  gap: 8px;
  font-family: "Lato";
}

.login:hover {
  color: #005ad4;
  cursor: pointer;
}

.login > svg {
  margin-top: 4px;
  transition: all 0.5s ease;
}

.login:hover svg {
  scale: 1.3;
}

.login:hover svg g path {
  fill: #005ad4;
}

.content {
  text-align: center;
  font-family: "Lato";
}

.content > p {
  color: #005ad4;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 85px;
}

.content-main {
  margin-bottom: 50px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card-main {
  background-color: #ecebeb;
  border-radius: 15px;
  padding: 48px 38px 35px 38px;
  font-family: "Lato";
  max-width: 402px;
  cursor: pointer;
  transition: all 0.5s ease;
  height: fit-content;
}

.card-main:hover {
  scale: 1.1;
}

.card-main > a {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 56px;
  margin-bottom: 30px;
  color: #005ad4;
}

.card-content {
  font-size: 20px;
  font-weight: 400;
  color: #9f9f9f;
  margin-bottom: 30px;
}

.card-button {
  background-color: white;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 10px;
  color: #005ad4;
  width: 100%;
  margin: auto;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: bold;
}

.card-button:hover {
  background-color: #005ad4;
}

.card-button:hover {
  color: white;
}

.card-button > a {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  color: #005ad4;
}

.signin {
  display: none;
}

.signin > label {
  float: left;
  color: #9f9f9f;
}

.signin > p {
  color: #005ad4;
  text-align: left;
  margin-bottom: 24px;
  font-family: "Lato";
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0 19px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

input[type="password"] {
  margin-bottom: 7px;
}

.content > a > svg {
  transition: all 0.5s ease;
  display: none;
  text-align: center;
  margin: auto;
}

.content > a > svg:hover {
  scale: 1.3;
}

.content > a > svg:hover g path {
  fill: #005ad4;
}

.footer {
  font-family: "Lato";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer > p {
  color: #9f9f9f;
  font-weight: 500;
  font-size: 17px;
}

.footer > div {
  color: #2abaff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer > div > p {
  transition: all 0.5s ease;
  font-size: 18px;
}

.footer > div > svg {
  transition: all 0.5s ease;
  font-size: 20px;
}

.footer > div:hover svg {
  scale: 1.2;
}
.footer > div:hover svg path {
  fill: #005ad4;
}

.footer > div:hover {
  color: #005ad4;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .card {
    flex-direction: column;
    gap: 30px;
  }

  .card-main {
    margin: auto;
  }

  .header > img {
    width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .header > svg {
    width: 100%;
    height: auto;
  }

  .login {
    display: none;
  }

  .content > a > svg {
    display: block;
  }
}
